{% load static %}
<!doctype html>
<html lang="en" dir="ltr"> <!-- This "landing-base.html" page is used only for "landing" page content present in "app/templates" folder -->
	<head>

		<!-- META DATA -->
		<meta charset="UTF-8">
		<meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=0'>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="description" content="세무법인대승">
		<meta name="author" content="세무법인대승">
		<meta name="keywords" content="세무법인대승">

        <!-- STYLES -->
    	{% include 'components/layouts/landing/styles.html' %}

	</head>

	<body class="ltr app horizontal landing-page">

        

		<!-- <a href="javascript:void(0);" class="buy-now">Buy Now</a> -->


		<!-- GLOBAL-LOADER -->
		<div id="global-loader">
			<img src="{% static 'assets/images/loader.svg'%}" class="loader-img" alt="Loader">
		</div>
		<!-- GLOBAL-LOADER END -->

		<!-- PAGE -->
		<div class="page">
			<div class="page-main">

                {% include 'components/layouts/landing/app-header.html' %}

				<!--APP-SIDEBAR-->
				<div class="landing-top-header overflow-hidden">
					<div class="top sticky overflow-hidden">

                        {% include 'components/layouts/landing/app-sidebar.html' %}

					</div>

                    {% include 'components/layouts/landing/header-main.html' %}
				</div>
				<!--/APP-SIDEBAR-->

                <!--app-content open-->
				<div class="hor-content main-content mt-0">
					<div class="side-app">
						<!-- CONTAINER -->
						<div class="main-container">

							{% block content %}{% endblock %}

						</div>
					</div>
					<!-- CONTAINER CLOSED -->
				</div>
			</div>

            {% include 'components/layouts/landing/footer.html' %}

		</div>

        {% include 'components/layouts/landing/scripts.html' %}

	</body>
</html>
