{% extends 'components/custom-base.html' %}
{% load static %}

    {% block styles %}

    {% endblock %}
    
        {% block content %}
        
			<!-- PAGE -->
			<div class="page">
				<div>
				    <!-- CONTAINER OPEN -->

					<div class="col-12 container-login100">
						<div class="row">
							<div class="col col-login mx-auto">
								<form  id="frm" class="card shadow-none" method="post">
									{%csrf_token%}
									<div class="card-body">
										<div class="text-center">
											<span class="login100-form-title">
												비밀번호 찾기
											</span>
											<p class="text-muted">저희 세무법인대승에 등록된 업무용 이메일 주소를 입력해주세요</p>
										</div>
										<div class="pt-3" id="forgot">
											<div class="form-group">
												<label class="form-label" for="eMail">E-Mail:</label>
												<input class="form-control" id="eMail" placeholder="업무 이메일 주소" type="email">
											</div>
											<div class="submit">
												<a class="btn btn-primary d-grid" href="javascript:goData();">전송</a>
											</div>
											<div class="text-center mt-4">
												<p class="text-dark mb-0"><a class="text-primary ms-1" href="/login">로그인 </a></p>
											</div>
										</div>

									</div>
									<div class="card-footer">
										<div class="d-flex flex-row-reverse">
											<div class="p-sm-2 p-2 bg-gray-200 radius-30">
												<img src="{% static 'assets/images/brand/DS_LOGO.svg' %}" style="width:30px;"  alt="">
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
					<!-- CONTAINER CLOSED -->
				</div>
			</div>
			<!--END PAGE -->

        {% endblock %}

    {% block scripts %}
		<script>

			function goData(){
					var form = document.getElementById("frm");
					form.submit();
			}

		</script>
    {% endblock %}

