{% load static %}            
				<!-- app-Header -->
				<div class="hor-header header">
					<div class="container main-container">
						<div class="d-flex">
							<a aria-label="Hide Sidebar" class="app-sidebar__toggle" data-bs-toggle="sidebar" href="javascript:void(0)"></a>
							<!-- sidebar-toggle-->
							<a class="logo-horizontal " href="index">
								<img src="{% static 'assets/images/brand/DS_LOGO_full.svg' %}" class="header-brand-img desktop-logo" alt="logo">
								<img src="{% static 'assets/images/brand/DS_LOGO_full.svg' %}" class="header-brand-img light-logo1" alt="logo">
							</a>
							<!-- LOGO -->
							
							<div class="d-flex order-lg-2 ms-auto header-right-icons">
			
								
							</div>
						</div>
					</div>
				</div>
				<!-- /app-Header -->
