{% load static %}
							<!-- </Footer> -->
							<!-- <div class="demo-footer">
								<div class="container px-5 px-md-0">
									<div class="card mb-0 px-0">
										<div class="card-body px-0">
											<footer class="main-footer px-0 pb-0">
												<div class="row ">
													<div class="col-xl-8 col-lg-12 col-md-12 footer1">Copyright © 2022 <a
															href="javascript:void(0)">DaeseungTax</a>. Corp. 
															<span class="fa fa-heart text-danger"></span> 
													</div>
												</div>
											</footer>
										</div>
									</div>
								</div>
							</div> -->
							<!-- Footer close -->
