{% extends 'components/mobile-base.html' %}
{% load static %}

    {% block styles %}

    {% endblock %}
    
        {% block content %}

							<!-- Pricing -->
							<div class="section bg-white" id="features">
								<div class="container px-5 px-md-0">
									<div class="row text-center">

										<div class="col-lg-4 col-sm-8">
											<div class="card p-3 border-primary pricing-card advanced">
												<div class="card-header d-block text-justified pt-2">
													<p class="text-18 font-weight-semibold mb-1 pe-0">{{biz_name}}<span
															class="float-end badge bg-primary text-white text-12-f pt-3">{{titlePeriod}}</span></p>
													<p class="text-justify font-weight-semibold mb-1 d-flex align-items-baseline">
														<span class="op-0-5 text-muted text-20 me-2"></span>
														<span class="text-24 me-1 fw-bold" id="preTax">0</span>
														<span class="text-20">
																<span class="op-0-5 text-muted text-18">원 [예상부가세]</span>
														</span>
													</p>
													<p class="text-13 mb-2">{{comment}}</p>
													<p class="text-13 mb-1 text-primary font-weight-">{{napbuDate}}</p>
												</div>
												<div class="card-body pt-2">
													<ul class="text-justify pricing-body ps-0">
														<li class="mb-4">
															<span	class="text-primary me-2 p-1 bg-primary-transparent rounded-pill text-10-f"><i	class="fa fa-check"></i></span> 
															<strong> 전자매출세금계산서 </strong>
															<span class="float-end" id="kkke1">0</span> </li>
														<li class="mb-4">
															<span	class="text-primary me-2 p-1 bg-primary-transparent rounded-pill text-10-f"><i class="fa fa-check"></i></span> 
															<strong> 전자매입세금계산서 </strong>
															<span class="float-end" id="kkke2">0</span> </li>
														<li class="mb-4">
															<span	class="text-primary me-2 p-1 bg-primary-transparent rounded-pill text-10-f"><i class="fa fa-check"></i></span> 
															<strong> 전자매출계산서 </strong>
															<span class="float-end" id="kkke3">0</span> </li>
														<li class="mb-4">
															<span class="text-primary me-2 p-1 bg-primary-transparent rounded-pill text-10-f"><i class="fa fa-check"></i></span> 
															<strong> 전자매입계산서</strong> 
															<span class="float-end" id="kkke4">0</span> </li>
														<li class="mb-4">
															<span class="text-primary me-2 p-1 bg-primary-transparent rounded-pill text-10-f"><i class="fa fa-check"></i></span> 
															<strong> 카드·현금영수증 매출 </strong>
															<span class="float-end" id="kkke5">0</span> </li>
														<li class="mb-4">
															<span class="text-primary me-2 p-1 bg-primary-transparent rounded-pill text-10-f"><i class="fa fa-check"></i></span> 
															<strong> 카드·현금영수증 매입</strong>
															<span class="float-end" id="kkke6">0</span> </li>
														<!-- <li class="mb-4">
															<span class="text-primary me-2 p-1 bg-primary-transparent rounded-pill text-10-f"><i class="fa fa-check"></i></span> 
															<strong> 온라인 매출 </strong>
															<span class="float-end" id="kkke7">0</span> </li>
														<li class="mb-6">
															<span class="text-primary me-2 p-1 bg-primary-transparent rounded-pill text-10-f"><i class="fa fa-check"></i></span> 
															<strong> 수출실적·내국신용장 매출 </strong>
															<span class="float-end" id="kkke8">0</span> </li>					 -->
														<li class="mb-4">
															<span class="text-primary me-2 p-1 bg-primary-transparent rounded-pill text-10-f"><i class="fa fa-check"></i></span> 
															<strong> 예납고지·매입자특례세액 </strong>
															<span class="float-end" id="tax8">0</span> </li>
														<li class="mb-6">
															<span class="text-primary me-2 p-1 bg-primary-transparent rounded-pill text-10-f"><i class="fa fa-check"></i></span> 
															<strong> 의제·재활용매입 </strong>
															<span class="float-end" id="tax9">0</span> </li>		
														<li class="mb-4">
															<span class="text-primary me-2 p-1 bg-primary-transparent rounded-pill text-10-f"><i class="fa fa-check"></i></span> 
															<strong> 불공제 매입세액 </strong>
															<span class="float-end" id="tax10">0</span> </li>																																								
													</ul>
												</div>
												<!-- <div class="card-footer text-center border-top-0 pt-1">
													<button class="btn btn-lg btn-primary text-white btn-block">
														<span class="ms-4 me-4">Select</span>
													</button>
												</div> -->
											</div>
										</div>


										<div class="col-lg-12 ps-3">
											<h3 class="header-family">홈택스 전자세금계산서</h3>
											<p class="text-default sub-text"><b>{{biz_name}}</b> - {{titlePeriod}}</p>
										</div>
									</div>
									<div class="row">
										<div class="col-xl-12">
											<div class="pricing-tabs">
												<div class="pri-tabs-heading text-center">
													<ul class="nav nav-price">
														<li><a class="active show" data-bs-toggle="tab" href="#sale" >매출</a></li>
														<li><a data-bs-toggle="tab" href="#cost" >매입</a></li>
													</ul>
												</div>
												<div class="tab-content">
													<div class="tab-pane pb-0 active show" id="sale">
														<div class="row d-flex align-items-center justify-content-center">
															<!-- <div class="col-lg-4 col-sm-8">
																<div class="card p-3 border-primary pricing-card advanced"> -->
																	<div class="card-body h-100">
																		<div class="d-flex flex-row justify-content-between ">
																			<div style='width:35%;text-align:center;'>회사명</div>
																			<div style='width:15%;text-align:center;'>대표자</div>
																			<div style='width:15%;text-align:center;'>건수</div>
																			<div style='width:35%;text-align:center'>공급대가합계</div>
																		</div>
																		<div id="accordionTraderSale" class="w-100 overflow-hidden Accordion-Style02 "></div>
																	</div>
																<!-- </div>
															</div> -->
														</div>
													</div>
													<div class="tab-pane" id="cost">
														<div class="row d-flex align-items-center justify-content-center">
															
															<div class="card-body h-100">
																<div class="d-flex flex-row justify-content-between ">
																	<div style='width:35%;text-align:center;'>회사명</div>
																	<div style='width:15%;text-align:center;'>대표자</div>
																	<div style='width:15%;text-align:center;'>건수</div>
																	<div style='width:35%;text-align:center'>공급대가합계</div>
																</div>
																<div id="accordionTraderCost" class="w-100 overflow-hidden Accordion-Style02 "></div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- Pricing close -->

							<!-- Faq's -->
							<section class="section pb-5" id="Faq">
								<div class="container px-5 px-md-0">
									<div class="row text-center">
										<div class="col-lg-12">
											<h3 class="header-family">전자세금계산서 가산세</h3>
											<p class="text-default sub-text mb-5">전자세금계산서를 발급·전송하지 않는 경우 공급가액에 아래 가산세율을 곱한 가산세 부과합니다.</p>
										</div>
									</div>
									<div class="row">
										<div class="col-lg-6">
											<div class="accordion" id="accordionExample">
												<div class="accordion-item">
													<h2 class="accordion-header" id="headingOne">
														<button class="accordion-button" type="button" data-bs-toggle="collapse"
															data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
															다음달 10일까지 매출세금계산서를 전자발행하지 않으면 ?
														</button>
													</h2>
													<div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
														data-bs-parent="#accordionExample">
														<div class="accordion-body text-muted">
															<strong>매출자는 지연발급가산세를 공급가액의 1% 부담합니다.</strong> 이 경우 매입자(상대방)은 0.5%의 가산세가 발생합니다. 다만 부가세 확정신고기한(매년 1월 25일, 7월 25일)까지 발행해야하며 확정신고기한을 경과하여 발행하는 경우
															<strong>매출자는 미발급가산세를 공급가액의 2% 부담하며 매입자는 매입세액을 공제받지 못합니다.</strong> 
														</div>
													</div>
												</div>
												
												<div class="accordion-item">
													<h2 class="accordion-header" id="headingThree">
														<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
															data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
															종이로 작성해서 발행하면 어떻게 되나요 ?
														</button>
													</h2>
													<div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
														data-bs-parent="#accordionExample">
														<div class="accordion-body text-muted">
															<strong>이 경우도 공급가액의 1%를 가산세로 부담합니다.</strong> 전자세금계산서 발급의무자가 아닌 경우는 종이발행해도 가산세를 부담하지 않습니다. 현재 전자세금계산서 의무발행자가 아닌 경우는 개인사업자 중 직전년도 매출액 1억원 미만인 사업자입니다.
														</div>
													</div>
												</div>
											</div>
										</div>
										
									</div>
								</div>
							</section>
							<!-- Faq's -->

							<!-- Contact-->
							<!-- <div class="bg-image-landing bg-white section" id="Contact">
								<div class="container px-5 px-md-0">
									<div class="row text-center justify-content-center">
										<div class="col-lg-8">
											<h3 class="header-family">Contact us</h3>
											<p class="text-default sub-text">아래 연락처로 전화 또는 문의메일을 남겨주시기 바랍니다.</p>
										</div>
									</div>
									<div class="row">
										<div class="card mt-3 mb-0">
											<div class="card-body text-dark px-0 pb-0">
												<div class="statistics-info">
													<div class="col-xl-12 col-12">
														<div class="row">
															<div class="col-xl-6 col-md-12 col-sm-12">
																<div class="services-statistics">
																	<div class="row">
																		<div class="col-6">
																			<div class="card p-0">
																				<div class="card-body p-0">
																					<div class="row">
																						<div class="col-xl-3 col-md-3 col-sm-3">
																							<div
																								class="counter-icon border border-primary text-primary">
																								<i class="fe fe-map-pin"></i>
																							</div>
																						</div>
																						<div class="col-xl-9 col-md-9 px-0 mb-1 col-sm-9">
																							<h5 class="mb-1 fw-semibold">강남지점</h5>
																							<p class="mb-0  fs-13 text-muted">강남대로 84길 15, 206호</p>
																							<p class="fs-13 text-muted">강남역효성해링턴타워더퍼스트</p>
																						</div>
																					</div>
																				</div>
																			</div>
																		</div>
																		<div class="col-6">
																			<div class="card p-0">
																				<div class="card-body p-0">
																					<div class="row">
																						<div class="col-xl-3 col-md-3 col-sm-3">
																							<div
																								class="counter-icon border border-primary text-primary">
																								<i class="fe fe-headphones"></i>
																							</div>
																						</div>
																						<div class="col-xl-6 col-md-9 px-0 mb-1 col-sm-9">
																							<h5 class="mb-1 fw-semibold">대표번호</h5>
																							<p class="mb-0 fs-13 text-muted">02 501 1732</p>
																						</div>
																					</div>
																				</div>
																			</div>
																		</div>
																		<div class="col-6">
																			<div class="card p-0">
																				<div class="card-body p-0">
																					<div class="row">
																						<div class="col-xl-3 col-md-3 col-sm-3">
																							<div
																								class="counter-icon border border-primary text-primary">
																								<i class="fe fe-mail"></i>
																							</div>
																						</div>
																						<div class="col-xl-6 col-md-9 px-0 mb-1 col-sm-9">
																							<h5 class="mb-1 fw-semibold">이메일</h5>
																							<p class="mb-0 fs-13 text-muted">daeseung23</p>
																							<p class="fs-13 text-muted">@gmail.com</p>
																						</div>
																					</div>
																				</div>
																			</div>
																		</div>
																		<div class="col-6">
																			<div class="card p-0">
																				<div class="card-body p-0">
																					<div class="row">
																						<div class="col-xl-3 col-md-3 col-sm-3">
																							<div
																								class="counter-icon border border-primary text-primary">
																								<i class="fe fe-airplay"></i>
																							</div>
																						</div>
																						<div class="col-xl-6 col-md-9 px-0 mb-1 col-sm-9">
																							<h5 class="mb-1 fw-semibold">근무시간</h5>
																							<p class="mb-0 fs-13 text-muted">월 - 금: 9am
																								- 6pm</p>
																							<p class="fs-13 text-muted">토 - 일: 공휴일
																							</p>
																						</div>
																					</div>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
															<div class="col-xl-6 col-md-12 col-sm-12">
																<div class="">
																	<form class="form-horizontal  m-t-20 row" action="index">
																		<div class="col-xl-6">
																			<div class="form-group">
																				<input class="form-control" type="text" required=""
																					placeholder="회사">
																			</div>
																		</div>
																		<div class="col-xl-6">
																			<div class="form-group">
																				<input class="form-control" type="text" required=""
																					placeholder="성함">
																			</div>
																		</div>
																		<div class="col-xl-6">
																			<div class="form-group">
																				<input class="form-control" type="email" required=""
																					placeholder="이메일">
																			</div>
																		</div>
																		<div class="col-xl-6">
																			<div class="form-group">
																				<input class="form-control" type="number" required=""
																					placeholder="전화번호">
																			</div>
																		</div>
																		<div class="col-xl-12">
																			<div class="form-group">
																				<textarea class="form-control" rows="5"></textarea>
																			</div>
																		</div>
																		<div class="">
																			<a href="javascript:void(0)"
																				class="btn btn-pill btn-primary btn-w-sm py-2  waves-effect waves-light">보내기</a>
																				
																		</div>
																	</form>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div> -->
							<!--Contact close-->

							<!--Support-->
							<!-- <div class="demo-screen-skin bg-primary">
								<div class="container text-center text-white px-5 px-md-0">
									<div id="demo" class="row">
										<div class="col-lg-6">
											<div class="feature-1">
												<a href="#"></a>
												<div class="mb-3">
													<i class="si si-earphones-alt"></i>
												</div>
												<h4 class="fs-25">Get Support</h4>
												<p class="mb-1 text-white">Need Help? Don't worry. Please visit our support website. Our
													dedicated team will help you.</p>
												<h6 class="mb-0">Support : <a class="text-dark"
														href="mailto:support@spruko.com">support@spruko.com</a></h6>
											</div>
										</div>
										<div class="col-lg-6 mt-5 mt-xl-0 mt-lg-0">
											<div class="feature-1">
												<a href="#"></a>
												<div class="mb-3">
													<i class="si si-bubbles"></i>
												</div>
												<h4 class="fs-25">Pre-Sale Questions</h4>
												<p class="mb-1 text-white">Please feel free to ask any questions before making the purchase.</p>
												<h6 class="mb-0">Ask : <a class="text-dark"
														href="mailto:support@spruko.com">support@spruko.com</a></h6>
											</div>
										</div>
									</div>
								</div>
							</div> -->
							<!--Support close-->

		{% endblock %}

	{% block scripts %}
	<script src="{% static 'assets/plugins/jquery-bootgrid-master/dist/jquery.bootgrid.js'%}"></script>
	<link href="{% static 'assets/plugins/jquery-bootgrid-master/dist/jquery.bootgrid.css'%}" rel="stylesheet"/>
	<script>
    var biz_name = "{{ biz_name }}";
    var seq_no = "{{ seq_no }}";
    var taxResult = "{{taxResult}}";
    var tax1 = "{{tax1}}", tax2 ="{{tax2}}", tax3 = "{{tax3}}", tax4 = "{{tax4}}", tax5 = "{{tax5}}", tax6 = "{{tax6}}", tax7 = "{{tax7}}", tax8 = "{{tax8}}", tax9 = "{{tax9}}", tax10 = "{{tax10}}", tax11 = "{{tax11}}", tax12 = "{{tax12}}";
		var kkke1 = "{{kkke1}}", kkke2 = "{{kkke2}}", kkke3 = "{{kkke3}}", kkke4 = "{{kkke4}}", kkke5 = "{{kkke5}}", kkke6 = "{{kkke6}}", kkke7 = "{{kkke7}}", kkke8 = "{{kkke8}}", kkke9 = "{{kkke9}}", kkke10 = "{{kkke10}}", kkke11 = "{{kkke11}}", kkke12 = "{{kkke12}}";

    $(document).ready(function() {
				//taxResult = tax1/1 - tax2/1 + tax5/1 - tax6/1 - tax9/1 - tax8/1 + tax10/1;

				// console.log(data.tax5)
				document.getElementById('preTax').innerHTML = numberWithCommas(taxResult);
				document.getElementById('kkke1').innerHTML = numberWithCommas(kkke1);
				document.getElementById('kkke2').innerHTML = numberWithCommas(kkke2);			
				document.getElementById('kkke3').innerHTML = numberWithCommas(kkke3);
				document.getElementById('kkke4').innerHTML = numberWithCommas(kkke4);
				document.getElementById('kkke5').innerHTML = numberWithCommas(kkke5);	
				document.getElementById('kkke6').innerHTML = numberWithCommas(kkke6);	

				document.getElementById('tax8').innerHTML = numberWithCommas(tax8);		
				document.getElementById('tax9').innerHTML = numberWithCommas(tax9);			
				document.getElementById('tax10').innerHTML = numberWithCommas(tax10);		
        gridLoad("{{work_yy}}", "{{work_qt}}", seq_no, "Sale");
        gridLoad("{{work_yy}}", "{{work_qt}}", seq_no, "Cost");
    });

    const gridLoad = async(work_yy, work_qt, seq_no, SaleCost) => {
        $('#accordionTrader' + SaleCost).empty();
        var gridData = [];
        var tmpRange = "1,3";
        if (SaleCost == "Cost") {
            tmpRange = "2,4"
        }
        $.ajax({
            url: "{% url 'getTiTrderSumGrid' %}",
            data: {
                work_yy: work_yy,
                work_qt: work_qt,
                sqno: seq_no,
                SaleCost: tmpRange
            },
            dataType: "Json",
            success: async function(data) {
                gridData = data.rows;
                for (var i = 0; i < gridData.length; i++) {
                    // 디테일거래내역
                    const divHeader = document.createElement("div")
                    divHeader.setAttribute("class", "mt-2")
                    divHeader.setAttribute("id", "headerAccord" + SaleCost + i)
                    const divHeader2 = document.createElement("div")
                    divHeader2.setAttribute("class", "accor")
                    divHeader2.setAttribute("id", "headingOne" + SaleCost + i)
                    const h4 = document.createElement("h4")
                    h4.setAttribute("class", "m-0")
                    const anchorHead = document.createElement("a")
                    var tmpHtml2 = "<div class='d-flex flex-row justify-content-between '>"
                    tmpHtml2 += "<div style='width:35%'>" + gridData[i].CompanyName + "</div>"
                    tmpHtml2 += "<div style='width:15%;text-align:center'>" + gridData[i].CeoName + "</div>"
                    tmpHtml2 += "<div style='width:15%;text-align:center'>" + numberWithCommas(gridData[i].TCnt) + "건</div>"
                    tmpHtml2 += "<div style='width:35%;text-align:right;" + (gridData[i].TKKDK < 0 ? "color:red" : "") + "'>" + numberWithCommas(gridData[i].TKKDK) + "</div>"
                    tmpHtml2 += "</div>"
                    anchorHead.innerHTML = tmpHtml2;
                    anchorHead.setAttribute("class", "active")
                    anchorHead.setAttribute("data-bs-toggle", "collapse")
                    anchorHead.setAttribute("data-bs-controls", "detailAccord" + SaleCost + i)
                    anchorHead.setAttribute("aria-expanded", "false")
                    anchorHead.href = "#detailAccord" + SaleCost + i
                    h4.appendChild(anchorHead)
                    divHeader2.appendChild(h4)
                    divHeader.appendChild(divHeader2)

                    const divBody = document.createElement("div")
                    divBody.setAttribute("class", "collapse mb-2")
                    divBody.setAttribute("id", "detailAccord" + SaleCost + i)
                    divBody.setAttribute("aria-labelledby", "headingOne" + SaleCost + i)
                    divBody.setAttribute("data-bs-parent", "#accordionTrader" + SaleCost)
                    const divBody2 = document.createElement("div")
                    divBody2.setAttribute("class", "border p-3 br-bottom-radius-5")

                    divBody2.innerHTML = await TISumDetail(seq_no, work_yy, data.read_qt, gridData[i].Trd_No, SaleCost)
                    divBody.appendChild(divBody2)

                    document.getElementById('accordionTrader' + SaleCost).appendChild(divHeader);
                    document.getElementById('accordionTrader' + SaleCost).appendChild(divBody);
                }

            },
            error: function(request, status, error) {
                console.log('fail:' + error);
            }
        })
    }

    function TISumDetail(seq_no, work_yy, read_qt, trdBizno, SaleCost) {
        return new Promise((resolve, reject) => {
            var tmpHTML = "";
            var tmpRange = "1,3";
            if (SaleCost == "Cost") {
                tmpRange = "2,4"
            }
            $.ajax({
                url: "{% url 'getTIDetailGrid' %}",
                data: {
                    work_yy: work_yy,
                    read_qt: read_qt,
                    sqno: seq_no,
                    trdBizno: trdBizno,
                    SaleCost: tmpRange
                },
                dataType: "Json",
                success: function(data) {
							
                    tmpHTML = "<table class='table table-sm mb-0 '>"
                    tmpHTML += "<thead><tr>"
                    tmpHTML += "<th>거래일</th>"
                    tmpHTML += "<th  style='text-align:center'>품목</th>"
                    tmpHTML +="<th style='text-align:right'>공급가액</th>"
                    tmpHTML += "<th style='text-align:center'>세액</th>"
                    tmpHTML += "</tr></thead>"
                    tmpHTML += "<tbody>"
                    for (var j = 0; j < data.rows.length; j++) {
                        tmpHTML += "<tr><th scope='row'>" + data.rows[j].tran_dt + "</th>"
                        tmpHTML += "  <td style='text-align:left;width:35%;'>" + data.rows[j].remk + "</td>"
                        tmpHTML += "  <td style='text-align:right;width:30%;" + (data.rows[j].KKKE < 0 ? "color:red" : "") + "'>" + numberWithCommas(data.rows[j].KKKE) + "</td>"
                        tmpHTML += "  <td style='text-align:right;width:20%;" + (data.rows[j].Tax < 0 ? "color:red" : "") + "'>" + numberWithCommas(data.rows[j].Tax) + "</td>"
                    }
                    tmpHTML += "</tbody></table>"
                    resolve(tmpHTML)
                },
                error: function(request, status, error) {
                    console.log('fail:' + error);
                }
            });
        });
    }

	</script>
	{% endblock %}
